.advantage{
    @extend %list;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
   
}
.advantage-item{
    width: 100%;
    &:not(:last-child){
        margin-bottom: 30px;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        
    }
    @media screen and (min-width: 768px) {
        width: 354px;
        // width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        // width: calc((100% - 4 * 30px) / 4);
        margin: 15px;
    }
}
.advantage-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 25px auto;
    margin-bottom: 30px;
    background-color: $button-color;
}
.advantage-svg{
    display: block;
}
.advantage-title{
    color: $prymary-color-text;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}
.advantage-text{
    font-weight: 400;
    line-height: 1.71;
}