.client__title{
    @extend %section-title;
    margin-bottom: 50px;
}
.client-list{
    @extend %list;
    display: flex;
    justify-content: space-between;
}
.client-list__item{
    display: flex;
    justify-content: center;
    align-items: center;      
}

.client-list__link{
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid $fiil-social-color;
    border-radius: 4px;
    color: $fiil-social-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: $accent-color;
        color: $accent-color;
    }
}
.client-list__svg{
    fill: currentColor;
}