.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    }
    .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    }
    .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // min-height: 581px;
    width: 100%;
    max-width: 450px;
    // margin-left: 15px;
    // margin-right: 15px;
    background-color: $prymary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    overflow-y: scroll;
        @media screen and (min-width: 1200px) {
           max-width: 528px;
        }
    }
    .modal-close{
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: $prymary-white-color;
        color: $prymary-color-text;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            color: $accent-color;
        }
    }
  .modal-close-svg{
        fill: currentColor;
    }
    .form-modal{
        display: flex;
        flex-direction: column;
    }
    .form-modal-block{
        position: relative;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 10px;
    }
    
    .modal-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: $prymary-color-text;
        margin-bottom: 12px;
    }
    .form-modal-label{
        margin-bottom: 10px;
    }
    .form-modal-label + span,
    .form-modal-label > span{
        padding: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    }
    .form-modal-input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus{
            border: 1px solid $accent-color;
            outline: none;
        }
        
    }
    .form-modal-svg{
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        fill: $prymary-color-text;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .form-modal-input:focus + &{
            fill: $accent-color;
        }
    }
    .form-modal-textarea{
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        padding: 12px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus{
            border: 1px solid $accent-color;
            outline: none;
        }
    }
    .form-modal-check {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px; 
    }
    .form-modal-checkbox{
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
    .chekbox-icon{
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid $prymary-color-text;
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .form-modal-checkbox:checked + &{
            width: 16px;
            height: 15px;
            background-image: url(../image/modal/check.svg);
            background-color: $accent-color;
            background-size: contain;
            background-position: 50% 50%;
            background-origin: border-box;
            background-repeat: no-repeat;
            border: 2px solid $accent-color;
        }
        .form-modal-checkbox:focus + &{
            border: 2px solid $accent-color;
        }
    }
    .form-modal-check > span{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }
    .form-modal-check > span > a{
        color: $accent-color;
    }
    .form-modal-submit{
        margin: auto;
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        border-radius: 4px;
        border: none;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $prymary-white-color;
        cursor: pointer;
    }