%list{
    padding: 0;
    margin: 0;
    list-style: none;
}
%section-title{
    color: $prymary-color-text;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}