$prymary-bg-color: #F5F5F5;
$secondary-bg-color: #2F303A;
$bg-color:#C4C4C4;
$border-cart-color: #EEEEEE;
$prymary-color-text: #212121;
$secondary-color-text: #757575;
$prymary-white-color: #FFFFFF;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196F3;
$button-color:#F5F4FA;
$border-color: #ECECEC;
$fiil-social-color: #AFB1B8;
$fill-social-secondary: rgba(255, 255, 255, 0.1);

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;